# .coveragerc to control coverage.py
[run]
branch = False
source = lattpy

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

	# Don't complain about debug-only code and print statements:
    def __repr__
    def __str__

	# Don't complain about abstract methods
    @abstract

    # Ignore properties. These are usually simple getters
    @property

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

# Skip source files:
omit =
  lattpy/tests/*
  lattpy/__init__.py
  lattpy/plotting.py
  lattpy/disptools.py
  lattpy/_version.py
